# Ignore non-service source directories
.github
.idea
.vscode
.git
tilt_modules
tilt

# Ignore the secrets file, ensuring that builds don't rely on it
secret.yaml

# Ignore Rust target directories
feature-gate/target
lib/*-rs/target
