[flake8]
max_line_length = 120
ignore = W606,W503,F541,E741
exclude =
    ./gateway/client.py
    ./shard/src/generate/*
    ./lib/python-common/response_grammar/*
    .venv/*
    *_pb2.py
    *_pb2_grpc.py
