# GitHub Linguist overrides
# See https://github.com/github/linguist/blob/master/docs/overrides.md

# tilt_modules is full of vendored files
# https://docs.tilt.dev/extensions.html
tilt_modules/** linguist-vendored

# *.dockerignore files should be considered scoped docker ignore files
**/*.dockerignore linguist-language=Ignore-List

# *.Tiltfile files should be considered Tiltfile (Starlark) libraries
**/*.Tiltfile linguist-language=Starlark
