version: "3"
services:
  shard:
    build:
      context: ./
      dockerfile: ./shard/Dockerfile
    env_file:
      - architus.env
    environment:
        - NUM_SHARDS
    deploy:
      replicas: "${NUM_SHARDS}"
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "1"
          memory: 500M
    depends_on:
      - manager
      - postgres
    networks:
      - webnet
  api:
    build:
      context: ./
      dockerfile: ./api/Dockerfile
    env_file:
      - architus.env
    environment:
        - NUM_SHARDS
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: "1"
          memory: 500M
    ports:
      - "5000:5000"
    networks:
      - webnet
  postgres:
    image: johnyburd/db:latest
    environment:
      POSTGRES_USER: autbot
      POSTGRES_PASSWORD: autism
      POSTGRES_DB: autbot
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet
  ipc:
    image: johnyburd/ipc-balancer:latest
    deploy:
      restart_policy:
        condition: on-failure
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet
  manager:
    image: johnyburd/manager:latest
    environment:
        - NUM_SHARDS
    deploy:
      restart_policy:
        condition: on-failure
    ports:
      - "5300:5300"
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet
networks:
  webnet:
