# complete and rename to architus.env

bot_token=
db_user=autbot
db_pass=autism
client_id=
client_secret=
twitter_consumer_key=
twitter_consumer_secret=
twitter_access_token_key=
twitter_access_token_seret=
scraper_bot_token=
