aiofiles
aiohttp
aniso8601
async-timeout
attrs
beautifulsoup4
bs4
certifi
cffi
chardet
Click
cycler
discord
discord.py
emoji
entrypoints
flake8
gTTS
gTTS-token
idna
idna-ssl
itsdangerous
Jinja2
kiwisolver
logzero
lxml
lyricwikia
MarkupSafe
matplotlib
mccabe
multidict
mutagen
numpy
pafy
pathlib
Pillow
psycopg2-binary
pycodestyle
pycparser
pyflakes
PyNaCl
pyparsing
python-dateutil
python-twitter
pytz
requests
setuptools
six
spotipy
SQLAlchemy
titlecase
typing-extensions
Unidecode
urllib3
uWSGI
websockets
Werkzeug
yarl
youtube-dl
pyyaml
pika
aio-pika
