aiofiles
aiohttp
aniso8601
async-timeout
attrs
beautifulsoup4
bs4
certifi
cffi
chardet
Click
cycler
discord
entrypoints
flake8
idna
idna-ssl
itsdangerous
Jinja2
kiwisolver
logzero
lxml
MarkupSafe
matplotlib
mccabe
multidict
mutagen
numpy
pafy
pathlib
Pillow
psycopg2-binary
pycodestyle
pycparser
pyflakes
PyNaCl
gTTS
pyparsing
python-dateutil
python-twitter
pytz
requests
setuptools
six
spotipy
SQLAlchemy
typing-extensions
Unidecode
urllib3
uWSGI
websockets
Werkzeug
yarl
youtube-dlc
pyyaml
pika
aio-pika
asyncpg
grpcio==1.29.0
protobuf
